<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adrita Chakraborty</title>
    <style>

    </style>
</head>
<body style="background-color:lightblue">
<h1 style="border:2px solid #6c35c6;"> "About Adrita:" </h1>
<p style="font-family: 'Times New Roman'"> Hi, I'm Adrita. I am a junior at Del Norte High School and am currently in AP CSA. I collaborated on this project to help students find clubs and be able to navigate the details of clubs easily. </p>
<img src="/static/images/adrita_about.jpg" th:src="@{/images/adrita_about.jpg}" width="225" height="350" alt="Adrita's photo">
</body>
</html>