<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Sam Duggirala</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <script th:inline="javascript">
        function changeImage() {
            document.getElementById("sam").src = "images/samaboutme.jpg";
        }
    </script>
    <div class="info-about-me" style="width:500px;  margin: auto;">
         <div class="picture-card" style="margin-top: 50px;">
             <div style="width:100%; text-align:center">
                <img id="sam" class="img-responsive py-3" th:src="@{/images/samaboutme_mask.jpg}" width="50%" height="Auto" alt="" style="width:50%; height:50%;">
                <form action="/samAbout" method="GET" id="samForm">
                 <div>
                     <label for="name">What is you name?</label>
                     <input name="name" id="name">
                     <button>Answer</button>
                     <input type="button"  onclick="changeImage();" value="Greet">
                     <p th:text="'Hi, ' + ${name} + '! My name is Sam.'"></p>
                 </div>
             </form>
             </div>
         </div>
        <table class="table" style="margin-top: 25px;">
            <tr>
            <td th:text="${quotes}"></td>
            </tr>
        </table>
        <div class="row justify-content-md-center" style="margin-top: 10px;">
            <form action="/samAbout" method="GET" id="quoteForm">
                <button>Get Quote!</button>
            </form>
        </div>
    </div>
    <div class="info" style="margin-top: 20px; text-align: center; background-color: #555b65;">
        <p><a href=https://drive.google.com/drive/folders/1Ro14W_1HDCUj0L_E7oSZH-VPDESge9l5?usp=sharing style="color: white;">CB FRQs/Journals</a></p>
        <p><a href=https://github.com/dsblack0/runtime-terror/commits?author=dsblack0 style="color: white;">Project Contributions</a></p>
    </div>

    <div class="unit-two" style="margin-top: 20px; background-color: #555b65;">
        <div style="margin-left: 50px;">
            <h2 style="color: white;">Unit 2 FRQ</h2>
            <form action="/samAbout" method="GET" id="changesegment">
                <div>
                    <label for="name" style="color: white;">Original sequence?</label>
                    <input name="oldseq" id="oldseq">
                    <label for="name" style="color: white;">Pick a segment to remove</label>
                    <input name="segment" id="segment">
                    <button>Answer</button>
                    <p><b th:text="'New sequence: ' + ${newSeq}" style="color: white;"></b></p>
                </div>
            </form>
            <form>
                <div>
                    <p><b th:text="'Original sequence: ' + ${originalSeq}" style="color: white;"></b></p>
                    <label for="name" style="color: white;">Pick a segment to insert</label>
                    <input name="instsegment" id="instsegment">
                    <label for="name" style="color: white;">Index?</label>
                    <input name="ind" id="ind">
                    <button>Answer</button>
                    <p><b th:text="'Resulting sequence: ' + ${resultSeq}" style="color: white;"></b></p>
                </div>
            </form>
            <form>
                <div>
                    <label for="name" style="color: white;">Pick to numbers to find their distance</label>
                    <input name="num1" id="num1">
                    <input name="num2" id="num2">
                    <button>Answer</button>
                    <p><b th:text="'Distance from ' + ${num1} + ' to ' + ${num2} + '= ' + ${distance}" style="color: white;"></b></p>
                </div>
            </form>
        </div>
    </div>
    <div class="unit-two" style="margin-top: 20px; background-color: #555b65;">
        <form>
            <div>
                <label for="name" style="color: white;">Pick x, y, and side length values</label>
                <input name="inputx" id="inputx">
                <input name="inputy" id="inputy">
                <input name="length" id="length">
                <button>Answer</button>
            </div>
        </form>
        <canvas id="canvas" width="512" height="384" ></canvas>
    </div>

    <script>
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const width = canvas.width;
        const height = canvas.height;
        const unit = 16;   // unit block size
        const inx = [[${inpx}]];
        const iny = [[${inpy}]];
        const sidelength = [[${slength}]];


        // grid based off of width, height
        function grid(){
            // color and pen width
            ctx.strokeStyle = 'white';
            ctx.lineWidth = 1;
            // make graph paper look
            for (let col = 0; col < width; col += unit) {
                for (let row = 0; row < height; row += unit) {
                    ctx.strokeRect(col, row, unit, unit);
                }
            }
        }
        function axis() {
            // color and pen width
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 3;

            // x & y zero midpoints of grid
            const x0 = width*.5;
            const y0 = height*.5;
            // x-axis
            ctx.moveTo(0, y0);
            ctx.lineTo(width, y0);
            ctx.stroke();
            // y-axis
            ctx.moveTo(x0, 0);
            ctx.lineTo(x0, height);
            ctx.stroke();
        }

        // square using lines
        function square() {
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 5;

            // starting coordinates
            const x = unit*16+(inx*16);
            const y = unit*8+(iny);
            // length of sides is 4 units
            const l = unit * sidelength;

            // draw a square
            ctx.beginPath();
            ctx.moveTo(x, y);
            ctx.lineTo(x, y+l);
            ctx.lineTo(x+l, y+l);
            ctx.lineTo(x+l, y);
            ctx.lineTo(x, y);
            ctx.stroke();
        }
        // three actions
        grid();
        axis();
        square();
    </script>

    <style>
        html, body{
            margin: 0;
            height: auto;
            background: linear-gradient(#0e0e0e, #7a7878, #cbd2d2);
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
        }

        .picture-card {
            background-color: black;
            color: white;
        }
    </style>
</div>

</body>
</html>