
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div th:fragment="footer">
        <div class="foot">
            <p>Contact Us</p>
        </div>

        <style>
            .foot{
                width: 100%;
                bottom: 0px;
                background-color: #2c6975;
                color: #fff;
                position: absolute;
                padding-top:20px;
                padding-bottom:50px;
                text-align:center;
                font-size:30px;
                font-weight:bold;
            }

        </style>
    </div>

</body>
</html>
