
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div th:fragment="footer">
            <footer class="foot">
                <p> Contact Us</p>
            </footer>
        </div>

        <style>
            .foot{
                width: 100%;
                bottom: 0px;
                background-color: #2c6975;
                color: #fff;
                position: absolute;
                padding-bottom: 2.5rem;
                padding-top:20px;
                text-align:center;
                font-size:30px;
                font-weight:bold;

            }

        </style>
    </div>

</body>
</html>
