<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <footer class="foot">
        <p style="background-color: #17a2b8; font: #f9e07f;">
            <!--<center>Contact Us</center>>-->
        </p>
        </footer>

        <style>
            .foot{
                width: 100%;
                bottom: 0px;
                background-color: #17a2b8;
                color: #fff;
                position: absolute;
                padding-bottom: 2.5rem;
                padding-top:20px;
                text-align:center;
                font-size:30px;
                font-weight:bold;

            }

        </style>
    </div>

</body>
</html>
