<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>

    <style>
        body {
            border-radius: 25px;
            padding: 25px;
            background-color: blue;
            color: black;
            font-size: 25px;
        }

        .buttons {
      background-color: #2c6975; /* Green background */
      border: 0px solid white; /* Green border */
      color: white; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      border-radius: 12px;
      margin: 5px;
    }
    .buttons:hover {
      background-color: #68B2A0;
      border-radius: 2px;
    }
    </style>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info" style="background-color: #2c6975;" th:fragment="header">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.PNG" th:src="@{/images/logo.PNG}" width="180" height="60" class="d-inline-block align-center" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/searchbar" style="color:white;">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/reviewsPage" style="color:white;">Club Reviews <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPBL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #f7cb2d">
                        <a class="dropdown-item" href="/teamAbout">Team</a>
                        <a class="dropdown-item" href="/adritaAbout">Adrita</a>
                        <a class="dropdown-item" href="/samAbout">Sam</a>
                        <a class="dropdown-item" href="/rachelAbout">Rachel</a>
                        <a class="dropdown-item" href="/samiAbout">Sami</a>
                        <a class="dropdown-item" href="/kaavyaAbout">Kaavya</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #f7cb2d;">
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/register">Register</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarIndividualPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                        Clubs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #f7cb2d">
                        <a class="dropdown-item" href="/newFile">Layout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAboutProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                        About the Project
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #f7cb2d">
                        <a class="dropdown-item" href="https://dsblack0.github.io/runtime-terror/">Project ReadME</a>
                    </div>
                </li>
            </ul>

            <!-- Google Search -->
            <div class="px-3">
                <input id="search" type="search" placeholder="Search Google" aria-label="Search" style="background-color: #f7cb2d; border: none; height: 30px; width: 200px;">
            </div>
            <!-- Add Club -->
            <div>
                <button style="background-color: #f7cb2d; /* Yellow background */
      border: 0px solid white; /* no border */
      color: black; /* black text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      border-radius: 12px;
      margin: 5px;"><a href="/admin" class="buttons">Add Club</a></button>
            </div>

            <!--

            <div>
                <span id="clock"></span>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="myFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
            <button onclick="myFunction()">Dark Mode</button>

            -->

            <script>
                function myFunction() {
                    var element = document.body;
                    element.classList.toggle("dark-mode");
                }

                // Clock controller
                let clockElement = document.getElementById('clock');
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh frequency
                setInterval(clock, 1000);
            </script>
            <script>
                const search = document.getElementById('search');
                const google = 'https://www.google.com/search?q=site%3A+';
                const site = 'https://dnclubsearch.tech';

                function submitted(event) {
                    if (event.key === 'Enter') {
                        event.preventDefault();
                        const url = google
                            + site
                            + '+'
                            + search.value;
                        const win = window.open(url, '_blank');
                        win.focus();
                    }
                }
                search.addEventListener('keypress', submitted);
            </script>

        </div>

    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>