

<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml " xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<html>
<head>
    <title>Page Layout</title>
    <style>
        .head1 {
            font-size:40px;
            color:#009900;
            font-weight:bold;
        }

        body {
            margin: 0 auto;
            background-position:center;
            background-size: contain;
        }

        .body_sec {
            margin-left:20px;
        }
    </style>
</head>

<body>


<header>
    <div class="head1">Home</div>

</header>

<div class = "body_sec">
    <section id="Content">
        <h3>Content section</h3>
    </section>
</div>

</body>
</html>
