<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="indiClubPage/_layout">
<body>
<div layout:fragment="content">

    <p>the content page with layout :)</p>

</div>

<div layout:fragment="clubName">
    NAME
</div>
<div layout:fragment="aboutClub">
    this is what we do.
    this is where we meet.
    this is when we meet.
</div>
<div layout:fragment="notableLinks">
    website here.
    social media here.
</div>
<h1>this is a new file</h1>
</body>
</html>